<div class="header">
	<h1>Tour dates for <%= @artist.ListName %>.</h1>
</div>
<div class="row">
	<div id="side_bar">
		<p><%= link_to "Edit Details", edit_artist_path %></p>
		<p><%= link_to "Delete Artist", artist_path, method: :delete %></p>
	</div>
	<div id="main_body">
		<%= render 'shared/event_list', events: @events %>
	</div>
</div>