<h1>This is the user show page for <%= @user.fname %></h1>
<%= link_to "Search for Artist", search_artist_path %>
<div class="calendar" id="calendar">
  <h1>Calendar</h1>
  <p>https://gist.github.com/jamesu/54116</p>
  <p>this is the calendar i want to use</p>

</div>
