<div class="center jumbotron">
  <h1>Welcome to Client Tracker</h1>
  
  <h2>
    The web app that can tell you when your Artists are where, and better yet, when they play next door to each other.  Planning a trip to see a client?  Use Client tracker to see how many you can see in one trip.
  </h2>
  
  <%= link_to "Sign up now!", register_path, class: "btn btn-lg btn-success" %>
</div>
<div class="row">
  <div class="col-lg-4">
    <h3 class="midrow">
      View Artist calendars as Guest
    </h3>
    <h2 class="left">Browse and view tour schedules as a guest and Sign up later</h2>
    <p><%= link_to "Search for artists", "", class: "btn btn-warning btn-small" %></p>
  </div>
  <div class="col-lg-4">
    <h3 class="midrow">
     Sign in to your account
    </h3>
    <h2 class="left">Add or update your artist list, view calendars, and more!</h2>
    <p><%= link_to "Sign In", "", class: "btn btn-warning btn-small" %></p>
  </div>
</div>