<div class="center jumbotron">
  <h1>Welcome to Client Tracker</h1>
  
  <h2>
    The web app that can tell you when your Artists are where, and better yet, when they play next door to each other.  Planning a trip to see a client?  Use Client tracker to see how many you can see in one trip.
  </h2>
  
  <%= link_to "Sign up now!", register_path, class: "btn btn-lg btn-success" %>
</div>
