<div class="header">
	<h1><%= @city.Region %> region</h1>
</div>
<div class="row">
	<div id="side_bar">		
		<p><%= link_to "Home Screen", user_path(current_user) %></p>
		<p><%= link_to "City List", cities_path %>
	</div>
	<div id="main_body">
		<%= render 'shared/event_list', events: @events %>
	</div>
</div>
