$navbar-default-bg: #B0B0B0;
$light-orange: #FFCC66;
$navbar-default-color: #1C3F79;
$page-background: #EAEEF3;
$link-color: #1C3F79;


@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
   float: left;
   font-size: 2em;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: -1px;
   padding-top: 9px;
   font-weight: bold;
   background-color: #1C3F79;
}

#logo:hover {
 color: white;
 text-decoration: none;
}

.sub_menu{
    float: left;
    font-size: .8em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -.5px;
    font-weight: bold;
    background-color: #0B63BA;
    margin: 0px;
    padding-right:10px;
    width: 100%;
}

.sub_menu ul{
  list-style-type: none;
      
} 

.sub_menu ul li{
  display: inline;
  width: calc(100%/4);
  padding-left: 40px;
  color: $page-background;
}

.sub_menu a{
  color: $page-background;
  
}
    

body {
  padding-top: 180px;
  background-color: $page-background;
  font-size: 2em;
}

.nav_item {
 margin: 10px;
 margin-left: 25px;
 float: left;
 padding-top: 9px;
}

.nav_ul_item {
 padding-left: 25px;
 float: left;
 margin-top: 20px;
}

.center {
    text-align: center;
    
}

h1, h2, h3, h4 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h3 {
  font-size: 2em;
  margin-bottom: 30px;
  text-align: left;
  font-weight: normal;
  color: #777;
  text-decoration: underline;
}

.left {
  font-size: 1.5em;
  text-align: left;
  letter-spacing: .5px;
}

.right {
  font-size: 1.5em;
  text-align: right;
  letter-spacing: .5px;
  text-decoration: em;
}

.footer{
  clear: both;
  margin-top:25px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.gravatar{
  border-radius: 10px;
}

.chef_info{
  margin-top: 10px;
}

.well{
  background-color: #EDEDED;
}

input, textarea, select, .uneditable-input{
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 15px;
}

.input_checkbox input{
  width: auto;
  float: left;
}

input{
  height: auto, important;
}

span.picture{
  margin: 10px;
  input{
    border: 0;
  }
}

.show_recipe{
  margin: 10px, 10px, 10px, 10px;
  margin-bottom: 10px;
}

#side_bar{
  width: 250px;
  background-color: lightgray;
  float: left;
  margin:5;
  border-radius: 10px;
  padding: 10px;
}

#main_body{
  width: 700px;
  float: left;
  margin: 5px;  
  padding-left: 5px;
  border-left: 2px solid black;
}

table{
  border-right: 1px solid #d2d2d2;
}

td {
  box-sizing: border-box;
  padding: 10px;
  border-right: 1px solid #d2d2d2;
}

th {
  colspan: 4;
  background-color: lightgray;
  padding-left: 10px;
  padding-right: 20px;
}

#new_date{
  border-top-style: 1px solid black;
}

a{
  text-color: $link-color;
  text-decoration: strong;
  text-size: 1.1em;
}

.calendar{
  border: 1px solid #d2d2d2;
  box-sizing: border-box;
  width: 100%;
  

  .date{
    float: left;
    border: 1px solid #d2d2d2;
    box-sizing: border-box;
    width: calc(100% / 7);
    
    table {
      width: 100%;
    }
    td.date {
      
    }
    th.date {
      padding: 5px;
      background-color: lightgray;
    }
    
    ul.count li{
      list-style: none;
    }
    .events{
      display: none;
      position: absolute;
      list-style: none;
      background: lightgray;
      
    }
    ul.count li:hover ul{
      display: block;
    }
    
  }
  
  .cal_break{
    padding-top: 15px;
    clear: both;
    border: 1px solid #d2d2d2;
    box-sizing: border-box;
  }
}


.current {
  background-color: #90C140;
}

.prospective{
  background-color: #B1E01D;
}

.former{
  background-color: #EB4D26;
}

#multiple ul{
  background-color: #B1E01D;
}